@layer components {
    /* Scrollbars */
    .scrollbar-sim { @apply min-h-0 relative; }
    .scrollbar-sim > .scrollbar-vp { @apply min-h-0 h-full overflow-auto; scrollbar-width: none; -ms-overflow-style: none; }
    .scrollbar-sim > .scrollbar-vp::-webkit-scrollbar { width: 0; height: 0; }
    .scrollbar-track-x { @apply z-1000 absolute pointer-events-none opacity-0 transition-opacity duration-500 ease-in-out left-0 right-0 bottom-0 h-3.5; }
    .scrollbar-track-y { @apply z-1000 absolute pointer-events-none opacity-0 transition-opacity duration-500 ease-in-out right-0 top-0 bottom-0 w-3.5; }
    .scrollbar-track-x::before, .scrollbar-track-y::before { @apply absolute block rounded-full bg-black/5 inset-1; content: ""; }
    .scrollbar-thumb-x { @apply z-1000 absolute left-0 bottom-0 h-full; }
    .scrollbar-thumb-y { @apply z-1000 absolute top-0 right-0 w-full; }
    .scrollbar-visible { @apply pointer-events-auto; }
    .scrollbars-active > .scrollbar-visible { @apply opacity-100; }
    .scrollbar-thumb-x::before, .scrollbar-thumb-y::before { @apply absolute block rounded-full transition-colors duration-500 ease-in-out bg-black/15 inset-1; content: ""; }
    .scrollbar-dragging::before, .scrollbar-thumb-x:hover::before, .scrollbar-thumb-y:hover::before { @apply bg-black/30; }

    .scrollbar-sim.scrollbar-thick .scrollbar-track-x { @apply h-6; }
    .scrollbar-sim.scrollbar-thick .scrollbar-track-y { @apply w-6; }
}
