@font-face { font-display: block; font-family: "Inter"; font-style: normal; font-weight: 400; src: url("/assets/fonts/inter-v19-latin-regular.woff2") format("woff2"); }
@font-face { font-display: block; font-family: "Inter"; font-style: normal; font-weight: 600; src: url("/assets/fonts/inter-v19-latin-600.woff2") format("woff2"); }
@font-face { font-display: block; font-family: "Inter"; font-style: normal; font-weight: 700; src: url("/assets/fonts/inter-v19-latin-700.woff2") format("woff2"); }

@layer base {
    html { @apply overflow-hidden h-dvh; }
    body { @apply flex flex-col antialiased bg-background underline-offset-3 h-dvh; }
    main { @apply grow; }

    a, .link { @apply text-gray-600 transition-[filter] cursor-pointer; }
    a:hover, .link:hover, a:focus, .link:focus { @apply brightness-110; }
    article a, article .link { @apply text-primary font-semibold underline; }

    /* Header + nav */
    header { @apply min-h-(--header-height) z-40 px-4 bg-dark; }
    #home, header nav { @apply flex h-full; }
    #home { @apply cursor-pointer lg:cursor-default; }
    #home a, #home span { @apply pointer-events-none lg:pointer-events-auto; }
    #home a, #home span, header nav a { @apply flex items-center h-full px-3 text-light; }

    .icon-sm { @apply h-4 w-4 text-light; }
    .icon { @apply h-5 w-5 text-light; };
    .icon-lg { @apply h-6 w-6 text-light; }

    :focus { outline: none; }
}
